@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
background-color:  #33ccff;
color:  #00ff00;
}
div {
background-color: #003300;
border-radius: 12px;
color: black;
}
p, a, h1, h2, h3, h4, h5, h6 {
color: black;
font-family: 'Orbitron', sans-serif;
}
div > p{
color: white;
}
button {
border-color: green;
border-radius: 8px;
background-color: green;
color: white;
}
